@charset "utf-8";
.header{
	width:100%;
	background-color:#b3b4b5;
	height:80px;
	text-align:center;
	color:black;
	border-bottom:1px solid black;
}

.side_bar{
	background-color:#223B1E;		
	text-align:center;
	width:100%;
}
.side_bar ul{
	list-style:none;
}
.side_bar ul li
{
	display:block;
	border-bottom:2px solid white;
}
.side_bar ul li ul
{
	display:none;	
}
.side_bar ul li:hover ul{
	display:block;
}
.side_bar ul li a{
   padding: 0px 30px;
   text-decoration:none;
   text-transform:uppercase;
   color:white;
   font-size: 12px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;  
   line-height:30px;
}
.side_bar ul li:hover{
background-color:#488278;
text-align:center;	
}
.border_l{
	margin-left:16%;
	border-left:3px solid black;
	height:500px;
}

.contain_connect{	
	color:grad;
	height:0px;
	background-color:yellow;
	text-align:center;
	font-family: myriad-hebrew, sans-serif;
	font-size:12px;	
	text-transform:uppercase;
	line-height:1;
}
				/* form */

.form-style-3{
	margin:20px auto;
	text-align:center;
    width: 700px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 20px;
		
}
.form-style-3 label > span{

    float: left;
    width: 150px;    
    font-weight: bold;
    font-size: 13px;
	color:black;
    text-shadow: 1px 1px 1px #fff;
	
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: -10px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 10px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
    color: #FFA0C9;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #F072A9;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:100%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}
		/* select */

.select_query{	
	background-color:#665e5e;
	width:100%;	
}
.select_query button{	
	background-color:#665e5e;
	height:30px;
	width:10%;
	}
.select_form{	
border:1px solid black;	
background-color:#efd4f9;	
 }
 .select_form h4{
	 margin-top:10px;
	margin-left:5px;	 
 }
.select_form textarea{
	margin:5px auto;
    width:100%;
	height:80px;
	border-radius:5px;	
}
.result{
    width:100%;
	height:auto;
	border-radius:5px;	
}
.result textarea{
	margin:5px auto;
	width:100%;
	height:200px;
	border-radius:5px;
}

.footer{
	border-top:3px solid black;
	background-color:#4A4A4A;
	color:#FFFFFF;
	font-family: myriad-hebrew, sans-serif;	
	font-size:13px;
	float:left;
}
.company h3{
	margin-top:20px;
}

.company p{
	line-height:2.5;
}
.company a{
		color:#FFFFFF;
}




