    <head><title>Contextual Selector</title>
    <style type="text/css">
       table td { color: blue; /* Table cells will take this style */
                   font-size: 18pt;
                   font-family: verdana; }
    </style>
    </head>
    <body bgcolor=silver><center>
       <h1><em>The Three Bears</em></h1>
       <table cellspacing="20" cellpadding="20%" border="3">
          <tr>
            <td>Mama Bear</td>
          <tr>
            <td>Papa Bear</td>
          <tr>
            <td>Baby Bear</td>
          </tr>
       </table>
    </center>
    </body>
    </html>

