    <head><title>Fonts</title>
    <style type="text/css">
        body { background-color: darkblue; }
       h1 { color: yellow; font-size:x-large;
             font-family: lucida, verdana, helvetica; }
       h2 { color:lightgreen; font-size:large;
             font-family:courier; }

       h3 { color:lightblue; font-size:medium;
             font-family:helvetica; }
       p { color:white; font-size: 22pt;
            font-style: italic;
            font-family: arial;
            font-variant:small-caps; }
    </style>
    </head>
    <body>
        <font size="+2">
        <h1>My name is Papa Bear</h1>
       <h2>My name is Mama Bear</h2>
        <h3>and I'm the Baby Bear</h3>
        <p>Once upon a time, yaddy yaddy yadda...</p>
    </body>
    </html>

