    <head><title>The setTimeout method</title>
    <script language="JavaScript">
       function changeStatusBar(){
          window.status = "See me now before I disappear!";
          timeout =setTimeout("window.status=''", 6000);
           // alert(timeout);  This value differs in Netscape and IE
       }
    </script>
    <body>
    <center>
    <font face=arial size=3 color=blue>
    The timeout is set for 6 seconds.
    <br>
   <img src="Winter.jpg" border=2>
    <p>
    Watch the status bar
    <br>

   <form>
       <input type="button"
       value="click here"
      onClick="changeStatusBar();">
    </form>
    </center>
    </body>
    </html>
