/* 
desktop 
--------------------------------------------------------------------------*/
@media (min-width: 1001px) {
	
	
}


/*
tab Grid
-----------------------------------------------------------------------------*/
@media (max-width: 1000px) and (min-width:700px) {
	
}

/*
mob Grid
-----------------------------------------------------------------------------*/
@media (max-width: 699px) and (min-width: 220px){

.t1{
	display:none;
}	
.t2{
	display:none;
}	
.t3{
	display:none;
}	
.t4{
	display:none;
}	
.header-menu{
	display:none;
}

}