body{
	background-color:#EEEEEE;	
}

.t1{
margin-top:20px;
height:30px;
background-color:#ED1B24;
 border-radius:0px 5px 5px 0px;
}
.t2{
margin-top:0px;
margin-left:5px;
height:30px;
background-color:#EEEEEE;
border-radius:0px 5px 5px 0px;
}
.t2 img {
	height:60px;
margin-left:5px;	
}


.t3
{
	margin-top:20px;
    background-color:#ED1B24;	
    border-radius:5px 0px 0px 5px;
	margin-left:6px;
	height:30px;
	
}
.t3 ul{
	margin-top:5px;
	margin-left:8px;
}

.t3 ul li{
	list-style:none;
	display:inline;
	margin-left:15px;
}
.t3 ul li a{
	padding:-8px;
    text-decoration:none;
    text-transform:uppercase;
    color:white;
   font-size: 12px;	
}
.t3 ul li a:hover{
background-color:gray;	
}
.t4{
	 background-color:#ED1B24;
	 margin-top:20px;	 
	 height:30px;
}
	
.t4 img {
	height: 20px;
	width: 30px;
	margin-top:5px;
	margin-left:-8px;
}	
/* Header menu devided by 4 section 1.header-menu-left 2.header-menu1 3.header-menu-m 4.header-menu-right*/



								/* header-menu-left */


.header-menu-left{
	background-color:#FFFFFF;
	margin-top:30px;
	height:30px;
}
.header-menu-left img{
	margin-top:6px;
	height:20px;
	width:100px;
	
}
									/* header-menu1 */
.header-menu1{
	background-color:#FFFFFF;
	margin-top:30px;
	height:30px;
}

.header-menu1 ul{
	list-style:none;
}

.header-menu1 ul li
{
	float:left;	
}


.header-menu1 ul li a{	
   padding: 0px 10px;
   text-decoration:none;
   text-transform:uppercase;
   color:#A2A2A2;
   font-size: 12px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;
   text-align:center;
   display:block;
  text-align:center;
   line-height:30px;
}
.header-menu1 ul li:hover{
background-color:#F5F5F5;
text-align:center;	
}
							/* header-menu-m */
.header-menu-m{
	
	background-color:#FFFFFF;
	margin-top:30px;
	height:30px;
}
.header-menu-m img{
	height: 20px;
	width: 30px;
	margin-top:5px;
	margin-left:10px;
	
}
                            /* header-menu-right */

.header-menu-right{
	background-color:#FFFFFF;
	margin-top:30px;
	height:30px;
	
}

.header-menu-right img{
	height: 20px;
	width: 20px;
	margin-top:5px;
	float:right;
	margin-right:5px;
	
	}
	
							/* Container */
	

.section-1{	
	margin-top:30px;
	height:718px;
	width:880px;
	background-color:;		
}

.section-1-part1{	
	height:717px;
	width:410px;	
}


/* .section-1-part1 img{
	margin-left:-1px;
	height:259px;
	width:411px;	
} */
.sec-11{
	background-color:#ED1B24;
	height: 459px;
	width: 409px;
}
.sec-110 p{
margin-top:30px;
margin-left:20px;
margin-right:20px;
font-weight:bolder;
font-size:12px;	    	
font-family:Congress Serial Heavy;
text-transform:uppercase;
color:white;
	
}									
.sec-111 p{
margin-top:10px;
margin-left:20px;
font-weight:bolder;
font-size:30px;	    	
font-family:Congress Serial Heavy;
text-transform:uppercase;
color:white;	
	
}
.sec-112 p{
	margin-top:15px;
margin-left:20px;
margin-right:20px;
font-weight:bolder;
font-size:14px;	    	
font-family:Congress Serial Heavy;
color:white;
}									
.sec-113 p{
margin-top:15px;
margin-left:20px;
font-weight:bolder;
font-size:16px;	    	
font-family:Congress Serial Heavy;
color:white;
text-transform:uppercase;
text-decoration:none;
}
.sec-113 a{
color:white;
}
.sec-114{
	margin-top:120px;
	height:32px;
	width:410px;
	
}
.sec-114 img{
	width:20px;
	height:20px;
	margin-left:20px;
	margin-top:-2px;
}
.sec-114 p{
margin-top:-21px;
margin-left:50px;
margin-right:20px;
font-weight:bolder;
font-size:14px;	    	
font-family:Congress Serial Heavy;
color:white;
text-transform:uppercase;
}

.sec-115 i{	
	color:#FEFEFD;
}
.icon{
	margin-top:15px;
	margin-left:25px;
	
	
}
.sec-115 p{
	margin-top:-23px;
	margin-left:70px;
	color:white;
	text-transform:uppercase;
	font-family:myriad-hebrew,sans-serif;
	
	width:120px;
}
.sec1-icon{

	margin-top:22px;
	margin-left:15px;
	height:30px;
	width:200px;

	
}
.sec-1151 i{
	margin-left:2px;
	border:3px solid;
	border-radius:50%;
	font-size:15px;
	padding-left:4px;
	padding-top:2px;
	width:22px;
	height:22px;
	float:left;
	color:#FEFEFD;
}
.sec-1152 i{	
	border:3px solid;
	border-radius:50%;
	font-size:14px;
	padding-left:2px;
	padding-top:2px;
	width:22px;
	height:22px;
	margin-left:4px;
	color:#FEFEFD;
}
.sec-1153 i{	
	border:3px solid;
	border-radius:50%;
	font-size:14px;
	padding-left:2px;
	padding-top:2px;
	width:22px;
	height:22px;
	margin-left:4px;
	color:#FEFEFD;
}
.sec1-part2{
	margin-top:0px;
	width:410px;
	margin-left:0px;
	height:718px;
	
}
.sec1-img-part2{
	margin-left:0px;
	width:190px;
}
.sec1-img-part2 img{
	margin-left:0px;
	height:113px;
	width:190px;
}
.sec1-img-part3{
	margin-left:15px;
	width:190px;
}
.sec1-img-part3 img{
	margin-left:0px;
	width:190px;
	height:112px;
}

.sec1-content-part2{
	margin-top:-1px;
	margin-left:0px;
	width:190px;
	height:234px;
	background-color:#FFFFFF;
	}

.sec1-content-part3{
	margin-left:15px;
	width:190px;
	height:234px;
	background-color:#FFFFFF;
	}
.p1{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	font-weight:bolder;
	font-size:7px;	    	
	font-family:Congress Serial Heavy;
	color:#7C7C7C;
	text-transform:uppercase;
	}
.p1 a{
	text-decoration:none;
	color:#7C7C7C;
	}
.p2-header{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	font-weight:bolder;
	font-size:18px;	    	
	font-family:Congress Serial Heavy;
	color:#363636;
	text-transform:uppercase;	
	height:60px;
	}
.p4{
	margin-left:10px;
	margin-right:10px;
	margin-top:4px;		
	height:10px;
	

	}
.p4 a{		
	color:#7C7C7C;
	font-weight:bolder;
	font-size:8px;	    	
	font-family:Congress Serial Heavy;	
	text-transform:uppercase;
}
.p5{
	margin-left:10px;
	margin-right:10px;
	margin-top:37px;	
	font-size:12px;
	color:#7C7C7C;
	text-transform:uppercase;	
	height:35px;	
	}
.p5-1{
	text-decoration:none;
	margin-left:5px;	
	margin-top:10px;		
	text-transform:uppercase;	
	height:25px;
	width:85px;
	text-decoration:none;
	}
.p5-1 i{
	color:#7C7C7C;
	font-size:14px;
	float:left;
}	
.p5-1 p{
	margin-left:18px;
	margin-top:2px;
	color:#7C7C7C;
	font-size:10px;
	
}	
	
.p5-2{
	margin-left:-15px;	
	margin-top:10px;	
	color:#7C7C7C;
	text-transform:uppercase;	
	height:25px;
	text-decoration:none;
	}

	
.p5-2 i{
	margin-top:2px;
	margin-left:5px;
	color:#7C7C7C;
	font-size:10px;
	float:left;
	border:2px solid;
	border-radius:50%;
	width:15px;
	height:15px;
	padding-left:2px;
	padding-top:2px;
}

							/* Side-Bar */
.side-bar{	
	margin-top:30px;
	height:4000px;
	width:220px;
	
			
}
									
.side-bar-header{
margin-top:0px;    
	height:206px;
	width:220px;	
}
.side-bar-header img{
    
	height:206px;
	width:220px;	
}
									
.side-r1{  
	margin-top:30px;
	height:80px;
	width:220px;
	background-color:#ED1B24;
	
}									
.side-r1 p{  
	margin-left:10px;	
	margin-top:10px;	
	color:#FFFFFF;
	font-size:20px;
	text-transform:uppercase;
	
}


.side-bar-header-menu{
	background-color:#FFFFFF;
	margin-top:0px;
	height:30px;
	width:220px;
	
}

.side-bar-header-menu ul{
	list-style:none;
}

.side-bar-header-menu ul li
{
	float:left;	
}


.side-bar-header-menu ul li a{	
   padding: 0px 5px 0px 8px;
   text-decoration:none;
   text-transform:uppercase;
   color:#ED1B24;
   font-size: 10px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;
   text-align:center;
   display:block;
   text-align:center;
   line-height:30px;
}
.side-bar-header-menu ul li:hover{
background-color:#F5F5F5;
text-align:center;	
}



.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;  
  border-bottom:12px solid #FFFFFF;
  margin-left:22px;
  margin-top:1px;
}
.side-bar-r2{
	margin-top:0px;
	width:220px;
	height:280px;
	background-color:#FFFFFF;
	border-bottom:5px solid #EEEEEE;
	padding-top:20px;
}
.view-all{
	margin-top:15px;
	width:220px;
	height:30px;
	background-color:#ED1B24;
}
.view-all h3{
	margin-top:2px;
	font-size: 20px;	    	
    font-family: myriad-hebrew, sans-serif;
	color:#FFFFFF;
	text-align:center;
	
}
.advert{
	margin-top:15px;
}
.related{
	margin-top:15px;
	width:220px;
	height:35px;
	background-color:#FFFFFF;
}


.related p{
	margin-top:8px;
	margin-left:5px;
	font-size: 15px;	    	
    font-family: myriad-hebrew, sans-serif;
	font-weight:bolder;
	color:#ED1B24;
	text-align:left;
	text-transform:uppercase;
}
.related img{
	margin-left:185px;
	width:25px;
	height:20px;
	margin-top:-18px;
	text-transform:uppercase;
}
.right {
	margin-left:5px;
	border:solid #ED1B24;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.releted1{
	margin-top:15px;
	background-color:#ED1B24;
	height:350px;	
	width:220px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;	
}
.releted1 p a{
text-decoration:none;
color:#FFFFFF;	
}

.releted2{		
	width:220px;
}
.releted1 i{
	color:#FFFFFF;	
}
.releted1 p{
	color:#FFFFFF;
	}
.scroll{ 
	margin-top:10px;
	background-color:#FFFFFF;
	width: 220px;
	height: 600px;	
}
.scroll_header p{ 
	margin-top:5px;
	color:#21272A;
	width: 220px;
		
	font-family: myriad-hebrew, sans-serif;
	font-size:22px;	
}
.iframe {
  margin-top: 20px;
  margin-bottom: 30px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;

  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
} 
			/* footer css start */
.footer{
	background-color:#4A4A4A;
	color:#FFFFFF;
	font-family: myriad-hebrew, sans-serif;	
}

.company{
	
}
.company p{
		line-height:2.2;
}
.company a{
		color:#FFFFFF;
}

