    <head>
    <title>Regular Expression Objects with the Constructor</title>
    <script language = "JavaScript">
       var myString="My gloves are worn for wear.";
       var regex = new RegExp("love");     // Creating a regular
                                            // expression object
       if ( regex.test(myString)){
           alert("Found pattern love!");
        }
        else{
           alert("No match.");
        }
    </script>
    </head><body></body>
    </html>
