/* tab css start */
.tab {
    
    border: 1px solid #ccc;
    background-color: green;
	overflow:hidden;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    padding: 20px 20px;
    transition: 0.3s;
	color:white;
	cursor:pointer;
}
.tab button:hover {
    background-color: #ddd;
}
.tabtext{
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
}
#tab2{
	display:none;
}
#tab3{
	display:none;
}
/* Accordins css start */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
div.accortext {
    padding: 0 18px;
    background-color: white;
	display:none;
}
/* popup code start css */
.popup{
	width:100px;
	height:70px;
	background-color:green;
	text-align:center;
	cursor:pointer;
	margin-left:340px;
	top:300px;
	position:fixed;
	position:relative;
	
	
}
.popup h3{
	color:white;
	padding-top:20px;
}
.content{
	width:350px;
	background-color:gray;
	color:white;
	margin-left:400px;
	top:200px;
	display:none;
	border-radius:30px 0px 30px 0px;
	position:absolute;
	
}
.content p{
	padding:10px;
}

