/*-----------------------------------------------------------------------------------

    Template Name: Moni- Onepage Portfolio Template 
    Template URI: http://dbuggers.com/tf/html/moni/
    Description: Moni is a clean and professional One page Portfolio template, perfect for Freelancer, Designer, any Personal Uses. Built on the Advanced Bootstrap 3 framework with HTML5 / CSS3. Its responsive too – Will fit great on all devices.
	The template has commented HTML and CSS code for each section, included in the template so you can easily adapt your templates to suit your needs. Unique designs, captivating sliders, and innovative website building tools work seamlessly to boost your business online.
    Author: DBUGGERS
    Author URI: http://dbuggers.com/
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================

/*-------------------------------------------------------
1. Theme default css
---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Poppins:300,400,500,600,700');
body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #999;
}
.img{
 max-width: 100%;
transition: all 0.3s ease-out 0s;
}
a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
upcase{text-transform: uppercase}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer-menu li a:hover {
  color: #D6B161;
  text-decoration: none;
}
a,
button {
  outline: medium none;
  color: #4FC1F0;
}
.uppercase { 
  text-transform: uppercase;
}
.capitalize { 
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  color: #232332;
  margin-top: 0px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { 
    color: inherit;
}
h1 {
    font-size: 40px;
    font-weight: 500;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
}
li { list-style: none }
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #7e7e7e;
  margin-bottom: 15px;
}
hr{
  margin: 60px 0;
  padding: 0px;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}
*::-moz-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}
/*************************
  Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
/*************************
      Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
      Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
/*************************
        Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
        Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-60 { padding-top: 60px }
.pt-70 { padding-top: 70px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-120 { padding-top: 120px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }
/*************************
        Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
        Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-30 { padding-bottom: 30px }
.pb-40 { padding-bottom: 40px }
.pb-50 { padding-bottom: 50px }
.pb-60 { padding-bottom: 60px }
.pb-65 { padding-bottom: 65px }
.pb-70 { padding-bottom: 70px }
.pb-80 { padding-bottom: 80px }
.pb-90 { padding-bottom: 90px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-120 { padding-bottom: 120px }
.pb-130 { padding-bottom: 130px }
.pb-140 { padding-bottom: 140px }
.pb-150 { padding-bottom: 150px }
/*************************
        Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }


/***************************
    Page section padding 
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }

/***************************
    Page section margin 
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }

.bg-gray {
	background: #f7f7f7;
}

/*ALL MAIN CSS START FROM HERE*/

/*header area css*/
header {
  border-bottom: 1px solid #ddd;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}
.scroll-header ..social-icon{
  padding: 28px 0;   
}
.scroll-header .logo-area {
  padding: 26px 0 33px;
}
.scroll-header .logo-area a h5{
  color: white;
}
header.header-middle.scroll-header {
  position: fixed;
  background: #303133;
  transition: .4s;
}
.scroll-header .main-menu ul li a{
  padding: 31px 15px;
  color: white;
}
.scroll-header .social-icon a {
  color: #fff;
  display: inline-block;
  margin: 16px 0 22px;
  padding: 10px;
}
.main-menu-area {
}
.full-header{}
.logo-area {
  border-right: 1px solid #ddd;
  padding: 32px 0 43px;
  transition: all 0.4s ease 0s;
}
.logo-area h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease 0s;
  margin: 0;
}
.logo-area > a {
  display: block;
}
.logo-area h5:hover{
    color: #0cb4ce;
}
.scroll-header .logo-area h5:hover{
    color: #0cb4ce;
}
.main-menu {
  text-align: center;
}
.main-menu ul{}
.main-menu ul li {
  display: inline-block;
}
.main-menu ul li a:hover{
    color: #0cb4ce;
}
.main-menu ul li a {
  color: #fff;
  display: block;
  font-family: "Poppins",sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 39px 15px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.social-icon {
  border-left: 1px solid #ddd;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.social-icon a {
  color: #fff;
  display: inline-block;
  margin: 27px 0;
  padding: 10px;
  transition: all 0.4s ease 0s;
}
.social-icon a:hover{
    color: #0cb4ce;
}
.social-icon a i{}
/*Slider area css*/
.slider{}
.single-slider {
  background: rgba(0, 0, 0, 0) url("img/slider/banner1.png") repeat scroll center top;
  background-position: center top;
  background-size: cover!important;
  height: 100vh;
  position: relative;
  width: 100%;
}
.single-slider::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}
.single-slider img{}
.slider-content {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.slider-content h4 {
  color: #ddd;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}
.cd-headline.clip.is-full-width > span {
  font-size: 30px;
  font-weight: 500;
}
.cd-headline {
  color: #fff;
  padding: 10px 0;
}
.default-btn {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Dosis",sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.default-btn:hover{
    background: #0cb4ce;
    color: white; 
}
.go-down {
  border: 1px solid #fff;
  bottom: 40px;
  height: 35px;
  left: 50%;
  padding-top: 6px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.07, 0.25, 0.93) 0s;
  width: 35px;
  z-index: 3;
}
.go-down i {
  animation: 1s linear 0s normal none infinite running plink;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  transform: rotate(-45deg);
  transition: all 0.4s ease 0s;
}
.go-down:hover{
    background: #0cb4ce;
    color: #fff;
    border: border: 1px solid #fff;
}
.go-down:hover i{
    color: #fff;
}
/*About area CSS*/
.section-title {
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}
.section-title > h2 {
  font-size: 35px;
  letter-spacing: 7px;
  line-height: 25px;
}
.success-story > h2 {
  padding-bottom: 15px;
}
.success-story > p {
  font-size: 13px;
}
.skill {
  padding: 0 5px;
}
.skill > h2 {
  padding-bottom: 15px;
}
.skill.upcase > h4 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 2px;
}
.skill span {
  float: right;
}

.progress {
  background-color: #ddd;
  border-radius: 0;
  box-shadow: none;
  height: 4px;
}

.progress .progress-bar {
  background-color: #32c5d2;
  box-shadow: none;
  line-height: 4px;
}
.about-hire{
    background-color: #0cb4ce ;
}
.hire-content > h3 {
  color: #fff;
  font-weight: 600;
  line-height: 38px;
}
.hire-button > a {
  margin: 10px;
}
.hire-btn:hover {
  color: #000;
  border: 1px solid #000;
  background: #fff;
}
/*Process Area CSS*/
.process-area {
  overflow: hidden;
}
.process-left {
  background: #fff none repeat scroll 0 0;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}
hr {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}
.process-left p {
  font-size: 13px;
  margin: 0;
}
.all-process{}
.single-process {
  padding: 15px;
}
.process-icon{}
.process-icon i {
  font-size: 30px;
}
.process-content{}
.process-content h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  margin: 0;
}
.process-content p {
  font-size: 13px;
  margin: 0;
}
/*Counter area CSS*/
.counters {
  background: rgba(0, 0, 0, 0) url("img/counters-bg.jpg") repeat scroll center top;
  position: relative;
}
.counters::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  top: 0;
}
.counter-section-title {
  text-align: center;
}
.counter-section-title h2 {
  color: #fff;
  font-size: 30px;
  line-height: 25px;
}
.counter-section-title p {
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
}
.single-counter {
  background: #fff none repeat scroll 0 0;
  opacity: 0.5;
  padding: 25px;
  text-align: center;
}
.single-counter i {
  color: #000;
  font-size: 25px;
  padding-bottom: 10px;
}
.single-counter h1{
    color: #0cb4ce;
}
.single-counter p{}
/*Services area CSS*/
.services-area{}
.service-wrapper{}
.service-box {
  padding-left: 55px;
  position: relative;
}
.service-icon {
  font-size: 30px;
  left: 0;
  position: absolute;
  top: -5px;
}
.service-icon i {
  color: #0cb4ce;
}
.service-content {
}
.service-content h4 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  text-transform: uppercase;
}
.service-content p {
  font-size: 13px;
  margin: 0;
}
/*Testimonial area CSS*/

.testimonial {
  background: rgba(0, 0, 0, 0) url("img/section-parallax.jpg") no-repeat fixed 50% 50% / cover ;
  padding-top: 80px;
  padding-bottom: 70px;
  position: relative;
}
.parallax-overlay {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.testimonial-section-title {
  text-align: center;
}
.testimonial-section-title i {
  font-size: 45px;
  line-height: 45px;
  margin: 0 auto 15px;
  text-align: center;
  width: 100%;
}
.testimonial-section-title h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}
.single-testimonial {
  color: #fff;
  text-align: center;
}
.single-testimonial p {
  color: #ccc;
  margin: 15px auto;
  width: 70%;
}
.single-testimonial h5{
  color: #fff;
}
/*Portfolio area CSS*/
.portfolio-area{}
.portfolio-wrapper{
}
.portfolio-box{}
.portfolio-box {
  position: relative;
}
.portfolio-box::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.portfolio-box:hover::before{
  background: #000 none repeat scroll 0 0;
  opacity: 0.4;
  cursor: pointer;
}
.portfolio-box .portfolio-content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.portfolio-box:hover .portfolio-content{
    visibility: visible;
    opacity: 1;
    z-index: 999;
}
.portfolio-box:hover .portfolio-content h4{
    color: #fff;
}
.portfolio-box img {
  width: 100%;
}
.portfolio-content h4 {
  color: #f6f6f6;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.portfolio-content p {
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
}
.portfolio-menu {
  margin: 0 0 35px;
  text-align: center;
}   
.button-group.filter-button-group > button {
  background: #303133 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 5px 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.button-group.filter-button-group > button:hover{
    color: #0cb4ce;
}
/*Contact Us CSS*/
.contact-details div {
  text-align: center;
}
.contact-details i {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #222;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 15px;
  padding-bottom: 18px;
  width: 60px;
  transition: .4s;
}
.contact-box i:hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #0cb4ce;
  color: #0cb4ce;
  cursor: pointer;
}
.contact-details h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}
.contact-box a {
  color: #7e7e7e;
}
.form-group {
	margin: 0;
}
.form-control {
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
}
.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}
textarea.form-control {
  height: auto;
}
.submit-btn {
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  font-weight: 600;
  margin: 0;
  padding: 10px 25px;
}
.submit-btn:hover {
  color: #000;
    background: #0cb4ce;
}
#map{
    height: 330px;
}
/*Footer*/
.gray-bg {
  background: #f6f6f6 none repeat scroll 0 0;
}
.footer-logo {
  display: inline-block;
}
.footer-logo a h5 {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 5px;
  transition: .4s;
}
.footer-logo:hover a h5{
    color: #0cb4ce;
}
.footer-social-icon a {
  background: #252525 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  line-height: 34px;
  margin: 0 5px;
  text-align: center;
  width: 35px;
    transition: .4s;
}
.footer-social-icon a:hover{
    color: #0cb4ce;
}
.copyright{}
.copyright p {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}
#scrollUp {
  background: #555 none repeat scroll 0 0;
  border-radius: 50px;
  bottom: 20px;
  font-size: 25px;
  padding: 5px 15px;
  right: 20px;
  transition: all 0.4s ease 0s;
}
a#scrollUp i{
  color: white;
  transition: all 0.4s ease 0s;
}
a#scrollUp:hover i{
    color: #0cb4ce;
}
.mobile-menu-area.hidden-sm.hidden-md.hidden-lg {
  margin-top: 20px;
}
/*Preloader CSS*/
#loading{
	background-color: #17607d;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
   	-webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
}
.object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
	}
#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
	}					
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
	}
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
	}	
@-webkit-keyframes animate {
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
}
@keyframes animate {
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	
	
}