@charset "utf-8";
.fmbd_col_01_20 {
	width:5%;	
}
.fmbd_col_02_20 {
	width:10%;
}
.fmbd_col_03_20 {
	width:15%;
	
}
.fmbd_col_04_20 {
	width:20%;
	
}
.fmbd_col_05_20 {
	width:25%;	
}
.fmbd_col_06_20 {
	width:30%;	
}
.fmbd_col_07_20 {
	width:35%;	
}
.fmbd_col_08_20 {
	width:40%;	
}
.fmbd_col_09_20 {
	width:45%;	
}
.fmbd_col_10_20 {
	width:50%;	
}
.fmbd_col_11_20 {
	width:55%;	
}
.fmbd_col_12_20 {
	width:60%;	
}
.fmbd_col_12_201 {
	width:64.4%;	
}
.fmbd_col_13_20 {
	width:65%;	
}
.fmbd_col_14_20 {
	width:70%;	
}
.fmbd_col_15_20 {
	width:75%;	
}
.fmbd_col_16_20 {
	width:80%;	
}
.fmbd_col_17_20 {
	width:85%;	
}
.fmbd_col_18_20 {
	width:90%;	
}

.fmbd_col_19_20 {
	width:95%;	
}
.fmbd_col_20_20 {
	width:100%;	
}
.fmbd_col_03 {
	width:33.33%;
}

.fmbd_col_06 {
	width:16.67%;	
}
.fmbd_col_07 {
	width:14.28571428571429%;	
}
.fmbd_col_08 {
	width:12.5%;	
}
.fmbd_col_09 {
	width:11.11111111111111%;	
}
.fmbd_col_11 {
	width:9.090909090909091%;	
}
.fmbd_col_12 {
	width:8.333333333333333%;	
}
.fmbd_col_13 {
	width:7.692307692307692%;	
}
.fmbd_col_14 {
	width:7.142857142857143%;	
}
.fmbd_col_15 {
	width:6.666666666666667%;	
}
.fmbd_col_16 {
	width:6.25%;	
}
.fmbd_col_17 {
	width:5.882352941176471%;	
}
.fmbd_col_18 {
	width:5.555555555555556%;	
}
.fmbd_col_19 {
	width:5.263157894736842%;	
}
/*
mob Grid
-----------------------------------------------------------------------------*/
@media (max-width: 699px) and (min-width: 220px){

.fmbd_mob_01_20 {
	width:5%;	
}
.fmbd_mob_02_20 {
	width:10%;
}
.fmbd_mob_03_20 {
	width:15%;
	
}
.fmbd_mob_04_20 {
	width:20%;
	
}
.fmbd_mob_05_20 {
	width:25%;	
}
.fmbd_mob_06_20 {
	width:30%;	
}
.fmbd_mob_07_20 {
	width:35%;	
}
.fmbd_mob_08_20 {
	width:40%;	
}
.fmbd_mob_09_20 {
	width:45%;	
}
.fmbd_mob_10_20 {
	width:50%;	
}
.fmbd_mob_11_20 {
	width:55%;	
}
.fmbd_mob_12_20 {
	width:60%;	
}
.fmbd_mob_12_201 {
	width:64.4%;	
}
.fmbd_mob_13_20 {
	width:65%;	
}
.fmbd_mob_14_20 {
	width:70%;	
}
.fmbd_mob_15_20 {
	width:75%;	
}
.fmbd_mob_16_20 {
	width:80%;	
}
.fmbd_mob_17_20 {
	width:85%;	
}
.fmbd_mob_18_20 {
	width:90%;	
}

.fmbd_mob_19_20 {
	width:95%;	
}
.fmbd_mob_20_20 {
	width:100%;	
}
.fmbd_mob_03 {
	width:33.33%;
}
.fmbd_mob_06 {
	width:16.67%;	
}
.fmbd_mob_07 {
	width:14.28571428571429%;	
}
.fmbd_mob_08 {
	width:12.5%;	
}
.fmbd_mob_09 {
	width:11.11111111111111%;	
}
.fmbd_mob_11 {
	width:9.090909090909091%;	
}
.fmbd_mob_12 {
	width:8.333333333333333%;	
}
.fmbd_mob_13 {
	width:7.692307692307692%;	
}
.fmbd_mob_14 {
	width:7.142857142857143%;	
}
.fmbd_mob_15 {
	width:6.666666666666667%;	
}
.fmbd_mob_16 {
	width:6.25%;	
}
.fmbd_mob_17 {
	width:5.882352941176471%;	
}
.fmbd_mob_18 {
	width:5.555555555555556%;	
}
.fmbd_mob_19 {
	width:5.263157894736842%;	
}	
	}
/*
tab Grid
-----------------------------------------------------------------------------*/
@media (max-width: 1000px) and (min-width: 700px) {

.fmbd_tab_01_20 {
	width:5%;	
}
.fmbd_tab_02_20 {
	width:10%;
}
.fmbd_tab_03_20 {
	width:15%;
	
}
.fmbd_tab_04_20 {
	width:20%;
	
}
.fmbd_tab_05_20 {
	width:25%;	
}
.fmbd_tab_06_20 {
	width:30%;	
}
.fmbd_tab_07_20 {
	width:35%;	
}
.fmbd_tab_08_20 {
	width:40%;	
}
.fmbd_tab_09_20 {
	width:45%;	
}
.fmbd_tab_10_20 {
	width:50%;	
}
.fmbd_tab_11_20 {
	width:55%;	
}
.fmbd_tab_12_20 {
	width:60%;	
}
.fmbd_tab_12_201 {
	width:64.4%;	
}
.fmbd_tab_13_20 {
	width:65%;	
}
.fmbd_tab_14_20 {
	width:70%;	
}
.fmbd_tab_15_20 {
	width:75%;	
}
.fmbd_tab_16_20 {
	width:80%;	
}
.fmbd_tab_17_20 {
	width:85%;	
}
.fmbd_tab_18_20 {
	width:90%;	
}

.fmbd_tab_19_20 {
	width:95%;	
}
.fmbd_tab_20_20 {
	width:100%;	
}
.fmbd_tab_03 {
	width:33.33%;
}
.fmbd_tab_06 {
	width:16.67%;	
}
.fmbd_tab_07 {
	width:14.28571428571429%;	
}
.fmbd_tab_08 {
	width:12.5%;	
}
.fmbd_tab_09 {
	width:11.11111111111111%;	
}
.fmbd_tab_11 {
	width:9.090909090909091%;	
}
.fmbd_tab_12 {
	width:8.333333333333333%;	
}
.fmbd_tab_13 {
	width:7.692307692307692%;	
}
.fmbd_tab_14 {
	width:7.142857142857143%;	
}
.fmbd_tab_15 {
	width:6.666666666666667%;	
}
.fmbd_tab_16 {
	width:6.25%;	
}
.fmbd_tab_17 {
	width:5.882352941176471%;	
}
.fmbd_tab_18 {
	width:5.555555555555556%;	
}
.fmbd_tab_19 {
	width:5.263157894736842%;	
}

}