/* 
desktop 
--------------------------------------------------------------------------*/
@media (min-width: 1001px) {

}


/*
tab Grid
-----------------------------------------------------------------------------*/
@media (max-width: 1000px) and (min-width:700px) {
.logo img{
	height:200px;
}
.menu1{	
	height:60px;	
    width:100%;
}

.menu1 ul li a{	
   padding: 15px 10px;
   line-height:30px;
}
.container_21_r, .container_21_l{	
	width:80%;
	margin-top:30px!important;
	float:left!important;
}

	
}

/*
mob Grid
-----------------------------------------------------------------------------*/
@media (max-width: 699px) and (min-width: 220px){
.menu1{
	height:auto;
}
.menu1 ul li
{
	display:block;
		
}
.menu1 ul li a{	
   padding: 0px 10px;
   text-decoration:none;
   text-transform:uppercase;
   color:white;
   font-size: 12px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;
   text-align:center;
   display:block;
   line-height:30px;
}

.container_21_l{	
	width:75%;
}
.container_21_r{
	width:75%;
	margin-left:px;
	float:left!important;
}
.menu2{
	height:auto;
}
.menu2 ul li
{
	display:block;
		
}
.menu2 ul li button
{
	width:100%;
	height:30px;
}
.menu2 ul li a{	
 padding: 0px 10px;
   text-decoration:none;
   text-transform:uppercase;
   color:black;
   font-size: 12px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;
   text-align:center;
   display:block;
   line-height:20px;
}


}