

.logo{
	
		
}
.logo img{
	height:60px;
	width:100%;
	background-color:#223B1E;	
}


.menu1{	
   
	background-color:#223B1E;
	margin-top:0px;
	height:60px;	
	text-align:center;
}

.menu1 ul{
	list-style:none;
	
}

.menu1 ul li
{
	display:inline-block;	
}

.menu1 ul li a{	
   padding: 0px 30px;
   text-decoration:none;
   text-transform:uppercase;
   color:white;
   font-size: 12px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;
   text-align:center;
   display:block;
   line-height:60px;
}
.menu1 ul li:hover{
background-color:#488278;
text-align:center;	
}

							/* Content */
							
.container_1{
	margin:35px auto;
	text-align:center;
	width:85%;	
}
.container_1 h2{
	color:#EE4623;
	font-size: 20px;	
	margin-top:15px;
	text-align:center;
	font-family: myriad-hebrew, sans-serif;
	text-transform:uppercase;
		
}
.container_1 p{
	color:black;
	font-size: 14px;	
	margin:35px auto;
	text-align:center;
	font-family: myriad-hebrew, sans-serif;
	text-align:justify;
	font-weight:bold;
	width:85%;
		
}
.border{
	margin:0 auto;
	margin-top:15px;
	border-bottom:3px solid #EE4623;
	width:30%;
}
.container_2{
	margin:35px auto;
	border:3px solid #B8D9D8;
	width:85%;
	height:1200px;	
	text-align:center;
}
.container_2 h2{
	color:#EE4623;
	font-size: 20px;	
	margin-top:15px;
	text-align:center;
	font-family: myriad-hebrew, sans-serif;
	text-transform:uppercase;
}
.border1{
	margin-top:30px;
	border-bottom:3px solid #ABA6A6;
	width:100%;
}
.container_21{
	margin:0px auto;	
	height:auto;
	width:100%;
}
.container_21_l{
margin:10px 35px;	
    width:40%;	
	height:auto;
	float:left;
}
.container_21_l p{	
	margin:25px 25px;
	text-align:justify;
}
.p1{
	background-color:#C6E6DA;
	margin-top:40px;
	
	}
.container_21_r{
	background-color:#fafafa;
	margin:10px 35px;
	margin-top:100px;	
	width:40%;
	height:auto;
	float:right;
}
.container_21_r p{
margin-top:15px;
float:left;
font-weight:bold;
font-size:10px;
text-transform:uppercase;
}
				/* Barfiller */

.barfiller {
  width: 100%;
  height: 12px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  position: relative;
  margin-top: 35px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
}

.barfiller .tipWrap { display: none; }

.barfiller .tip {
  margin-top: -30px;
  padding: 2px 4px;
  font-size: 11px;
  color: #fff;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: #333;
}

.barfiller .tip:after {
  border: solid;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}

				
				
.our_work{
	
	
}

.our_work img{
	margin-top:20px;	
}
.menu2{	
   
	background-color:;
	margin-top:20px;
	height:40px;	
	text-align:center;
}

.menu2 ul{
	list-style:none;
	
}

.menu2 ul li
{
	display:inline-block;	
}
.menu2 ul li button
{
	height:30px;
    width:auto;  
    cursor: pointer;

}

.menu2 ul li a{	
   padding: 0px 10px;
   text-decoration:none;
   text-transform:uppercase;
   color:black;
   font-size: 12px;	    	
   font-family: myriad-hebrew, sans-serif;
   font-style: normal;
   text-align:center;
   display:block;
   line-height:20px;
}
.menu2 ul li:hover{
background-color:#488278;
text-align:center;	
}
.container_3{
	margin:35px auto;
	background-color:;
	width:85%;
	text-align:center;
}
.container_3 h2{
	font-size: 20px;	
	margin-top:0px;
	text-align:center;
	font-family: myriad-hebrew, sans-serif;
	text-transform:uppercase;
}

/* Counter */


.wrapper { 
 width: 980px;
 margin: 20px auto;
 position: relative;
 background-color:yellow;
 }

.counter { 
background-color:#b0b1b2;
 padding: 20px 20px;
 border-radius: 5px;
 float:left;
 margin: 10px 10px;
}
.count-text { 
font-size: 13px; 
font-weight: normal; 
 margin-top: 10px; 
 margin-bottom: 0; 
 text-align: center; 
}

.count-title { 
font-size: 40px;
 font-weight: normal;
 margin-top: 10px;
 margin-bottom: 0; 
 text-align: center; 
}
.count-text { 
font-size: 13px;
 font-weight: normal; 
 margin-top: 10px; 
 margin-bottom: 0; 
 text-align: center; 
}
/* 
.fa-2x { 
margin: 0 auto; float: none; display: table; color: #4ad1e5;
 } 
 */
 
.container_4{	
	border:3px solid #B8D9D8;
	margin:10px auto;	
	width:85%;
	height:450px;
	text-align:center;	
}
.container_4 h2{margin:15px auto; text-transform:uppercase; color:#EE4623;font-size:20px;}

.bg_img{
	margin:30px auto;
	background-image: url('../img/img_2.jpg');
	background-size:100% 300px;
	height:300px;
    opacity: 0.1;
}
	
	